
{% load static  %}

<html >
<head>
    
    <title>items</title>
    <link rel="stylesheet" href="{%  static 'stylesheet/style.css' %}"/>


     

</head>
<body class="register">
    <h1 class="head1">CONGRAGULATONS! <br/>
    
         YOUR SUCESSFULLY REGISTERED <br>
          WELCOME TO LEAF NOW MANAGEMENT APP</h1>
          
                 <img class="displayed" src="{% static 'money.jpg'%}" alt="img not found"/><br><br> 
                       <h2 class="hh" >
                       Zaavic Two Layer Lucky Bamboo plant with <br/> Big Round Glass Pot and Colored Jelly Balls(Green)</h2>
                 <br> <a href="#"><input class="add" type="button" name="log" id="log" value="ADD TO CART"></a> <br> <br>
                 <a href="buyitem"><input  class="add" type="button" name="log" id="log" value="BUY ITEM"></a><br><br>
                 

                 <img class="cat2" src="{% static 'cat2.jpg'%}" alt="img not found"/><br><br>  
                 <br> <a href=""><input class="add" type="button" name="log" id="log" value="ADD TO CART"></a> <br> <br> 
                 <a href="buyitem"><input  class="add" type="button" name="log" id="log" value="BUY  ITEM"></a><br><br>
                 
                 <img class="cat3" src="{% static 'cat3.jpg'%}" alt="img not found"/><br><br>
                 <br> <a href=""> <input class="add" type="button" name="log" id="log" value="ADD TO CART">  </a> <br> <br> 
                 <a href="buyitem"> <input class="add" type="button" name="log" id="log" value="BUY ITEM">  </a> <br><br>
                 
               
</body>
</html>