<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Donation</title>
</head>
<body>
     <h1> LEAFNOW</h1>
     <form >
          <div >
          </div>
          <div >PLANT DONATION</div>
          <div >
          <div >First name<br/>
          <input type="text" id="data_2" name="data_2" />
          </div>
          <div >Last name<br/>
          <input type="text" id="data_3" name="data_3" />
          </div>
          </div>
          <div >Email<br/>
          <input type="text" id="data_4" name="data_4" />
          </div>
          <div style="padding-bottom: 18px;">Donation Amount<span style="color: red;"> *</span><br/>
          <span><input type="radio" id="data_5_0" name="data_5" value="$50"/>₹50</span><br/>
          <span><input type="radio" id="data_5_1" name="data_5" value="$100"/> ₹100</span><br/>
          <span><input type="radio" id="data_5_2" name="data_5" value="$250"/> ₹250</span><br/>
          <span><input type="radio" id="data_5_3" name="data_5" value="$500"/> ₹500</span><br/>
          </div>
          <div style="padding-bottom: 18px;">Full Address<br/>
          <textarea id="data_6" false name="data_6" ></textarea>
          </div>
          <div ><input name="skip_Submit" value="Submit" type="submit"/></div>
          <div>
          
          </form>
          
         
</body>
</html>