<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
    <link rel="stylesheet" type="text/css" href="css/style.css">    
</head> 
  
<body align="center">
    
    <h1>Register</h1><br>    
    <div class="login">    
    <form id="login" method="get" action="login.php">    
        <label><b>FIRSTNAME    
        </b><br> 
        </label> 
          <input type="text" name="lastname" id="lname" placeholder="firstname">
    <br> 

         <label><b>lASTNAME</b>
        
        </label>    
        
        <input type="text" name="firstname" id="fname" placeholder="lastname">    
        <br><br> 

        <label><b>DOB   
        </b>    
        </label>    
        <input type="date" name="dob" id="dob" placeholder="dob"> 
<br><br>
        <label><b>GENDER     
        </b>    
        </label>    
        <input type="text" name="gender" id="gender" placeholder="gender"> 
<br><br>
        <label><b>CONTACT     
        </b>    
        </label>    
        <input type="number" name="number" id="contact" placeholder="contact number"> 
<br><br>
        <label><b>ADDRESS    
        </b>    
        </label>    
        <input type="text" name="ADDRESS" id="ADDRESS" placeholder="ADDRESS"> 

    
        <br><br>
        <a href="register">    
        <input type="button" name="Register" id="reg" value="Register In Here"> </a>
        <input type="button" name="reset" id="reset" value="reset" >   
          
        <br><br>    
          
    </form>     
</div>    

    
 
</body>    
</html>     